*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.icon{
    border: 1px solid #000;
    padding: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
a{
    text-decoration: none;
    color: #fff !important;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.icon:hover{
    background-color: yellow;
    
}
.icon:hover a{
    color:#000 !important;
}
