<section id="about" class="text-center p-5 ">
    <div class="container-fluid ">
        <span class="about fw-bolder fs-6 ">ABOUT COMPONENT</span>
            <div class="row justify-content-between mt-4 p-5">
                <div class="col-md-5">
                    <div class="item">
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="item">
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
                    </div>
                </div>
            </div>
    </div>
</section>
