<section id="contact" class="p-5 text-center mt-5">
    <h2>CONATCT SECTION</h2>
    <span class="star"><i class="fa-solid fa-star"></i></span>
    <div class="container">
        <div class="row my-auto">
          <div class="col-md-6 mt-5 p-2">
            <input type="text" class="form-control bg-transparent " id="name"placeholder="Enter Your Name" aria-label="Enter Your Name">
          </div>
          <div class="col-md-6 mt-5 p-2">
            <input
              type="email"
              class="form-control bg-transparent"
              id="email"
              placeholder="Enter Your Email"
              aria-label="Enter Your Email"
            />
          </div>
          <div class="col-md-6 mt-5 p-2">
            <input
              type="phone"
              class="form-control bg-transparent"
              id="phone"
              placeholder="Enter Your Phone Number"
              aria-label="Enter Your Email"
            />
          </div>
          <div class="col-md-6 mt-5 p-2">
            <input
              type="number"
              class="form-control bg-transparent"
              id="age"
              placeholder="Enter Your Age"
              aria-label="Enter Your Age"
            />
          </div>
          <div class="col-md-6 mt-5 p-2">
            <input
              type="password"
              class="form-control bg-transparent"
              id="password"
              placeholder="Enter Your Password"
              aria-label="Enter Your Password"
            />
          </div>
          <div class="col-md-6 mt-5 p-2">
            <input
              type="password"
              class="form-control bg-transparent"
              id="rePassword"
              placeholder="Please Re-Password"
              aria-label="Please Re-Password"
            />
          </div>
          <button
            id="submitBtn"
            class="btn w-25 btn-danger mx-auto m-5  p-2"
          >
            Submet
          </button>
        </div>
      </div>

</section>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
