<section id="protofolio" class="text-center mt-4 p-5">
    <!-- <img src="./assets/img/source.gif" alt="" > -->
    <div class="container">
        <h2>PORTFOLIO COMPONENT</h2>
    <span class="star"><i class="fa-solid fa-star"></i></span>
    <div class="container">
        <div class="row">
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/poert1.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/port2.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/port3.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/poert1.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/port2.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
            <div class="col-md-4  p-3 position-relative">
                <div class="item">
                    <img src="./assets/img/port3.png" alt="" class="w-100 rounded rounded-3 ">
                </div>
                <div class="layer position-absolute bg-transparent top-0 end-0 start-0 bottom-0 rounded rounded-3 d-flex justify-content-center align-items-center">
                    <span class=""><i class="fa-solid fa-plus fa-3x"></i></span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
