<section id="home">
<div class="container-fluid mt-5 p-5">
    <div class="row text-center justify-content-center align-items-center" >
        <div class="col-md-3">
            <div class="item">
                <img src="./assets/img/WhatsApp Image 2023-12-07 at 12.18.44 PM.jpeg" alt="" class="w-100">
                <h2 class="text-center text-white">START FRAMEWORK</h2>
               <span class="star"><i class="fa-solid fa-star"></i></span>
               <p class="p-2 lead">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</div>
</section>
